* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* COR BASE E FONTE */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0d1117; 
    color: #f0f0f0;
}

/* CABEÇALHO */
header {
    background-color: #0066ff;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #fefefe; 
}

header h1 {
    color: #ffffff;
    font-size: 32px;
}

/* MENU */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #00b7ff;
}

/*  CONTEÚDO PRINCIPAL */
main {
    padding: 30px;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

th {
    font-size: 26px;
    padding: 15px 0;
    background-color: #161b22;
    color: #00aaff;
}

td {
    padding: 15px;
}

/* IMAGENS */
td img {
    width: 180px;
    height: 260px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

td img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #00aaff;
}

/* TÍTULOS  */
.titulo-filme {
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
}

td p {
    margin-top: 5px;
}

td a {
    color: #00aaff;
    text-decoration: none;
    font-weight: bold;
}

td a:hover {
    text-decoration: underline;
}

/* RODAPÉ */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0066ff;
    color: #fffefe;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    border-top: 2px solid #ffffff;
}
